@import url('reset.css');

body{
	font-family: arial;
	line-height: 1.6;
	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* ----------- Top ----------- */
.top{
	height: 80px;
	display: flex;
	align-items: center;
	}

.top-main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	width:100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.top-main img{
	width: 80px;
	margin-left: 100px;
}

.botton{
	display: flex;
	margin-left: auto;
	margin-right: 100px;
	align-items: center;
}

.botton ul{
	display: flex;

	width: 585px;
}

.botton li{
	margin-right: 20px;
	width: 100px;
	text-align: center;
}

.botton a{
	text-decoration: none;
	color:white;
	display: block;
	padding: 25px 0;

	font-size: 18px;
}

.botton li:hover{
	border-bottom: 3px solid white;
}

.fas{
	color: white;
	font-size: 25px;

	display: none;
}

/*---------------------- ul選單 -----------------------*/

.botton li:nth-child(3) ul{
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
}

.botton li:nth-child(3) ul a{
	color: rgba(255, 255, 255, 0.5);
	font-weight: bold;
}

.botton li:nth-child(3) ul a:hover{
	color: white;
}

.botton li:nth-child(3) li:hover{
	background-color: rgba(105, 105, 105, 0);
	border-bottom: 0px;
}

.botton li:nth-child(3):hover > ul{
	display: flex;
	flex-direction: row;
	position: absolute;
	width: 100%;
	top: 80px;
	right: 0;
}

.botton li:nth-child(3) li{
	width: 100%;
}

/*---------------------- main course -----------------------*/
.mainCourse{
	color: white;
}

.mainCourse div{
	border-bottom: 1px solid rgba(220, 220, 220, 0.5);
	margin-top: 50px;

	display: flex;
	align-items: center;
}

.mainCourse div:last-child{
	border: none;
}

.mainCourse img{
	margin: 0 0 50px 50px;
}

.mainCourse h1{
	font-size: 30px;
	font-weight: bold;
	flex-shrink: 0;
	margin: 0 50px 0 50px;
}

.mainCourse p{
	margin-right: 50px;
	text-align: justify;
}

/*---------------------- company info -----------------------*/

.info{
	color: white;
	font-size: 16px;
	text-align: center;

	margin-top: 50px;
	border-top:1px solid rgba(210, 210, 210);
}

.info h3{
	margin-top: 30px;
}

.copy{
	margin-top:30px;
}


/*----------------------- RWD 1024px --------------------------------*/

@media screen and (max-width: 1024px){

	.top{
		justify-content: space-between;
		height: 50px;
	}

	.fas{
		float: right;

		display: block;
		width: 50px;
    	margin-right: 50px;
	}

	.botton{
    	max-height: 0px;
    	overflow: hidden;
    	transition: max-height 2s;
    	position: absolute;

    	left: 0;
    	right: 0;
    	text-align: center;
  		margin: 0;
  		flex-direction: column;
  		margin-right: 0;
		top: 50px;
  	}

  	.botton li{
  		/*margin: 0;*/
  		width: 100%;
  		background-color: rgba(0, 0, 0, 0.5);
  		padding: 10px 0;
  		margin: 0;
  	}

  	.botton li a{
    	transition: all 0.3s;
    	color: white;
    	padding: 0;
  	}
  	.botton li:hover{
		border-bottom: 1px solid white;
	}
   
  	.showMenu{
    	display: block;
    	font-size: 20px;
  	} 
  		/*jQ點擊後動態在 body 加上 class ，藉著修改 max-height，畫面就顯示了*/
  	.menu-show{
    	max-height: 500px;
  	}

  /*---*/

	.top-main{
		/*flex-direction: column;*/
		height: 50px;
		background-color: rgba(0, 0, 0, 0.5);

		align-items: center;
		justify-content: space-between;
	}

	.top-main img{
		width: 50px;
		margin-left: 50px;
	}

	/*---------------------- rwd 1024px ul選單 -----------------------*/

	.botton li:nth-child(3) ul{
		display: none;
	}

	.botton li:nth-child(3):hover > ul{
		display: none;
	}

	.botton li:nth-child(3) li{
		display: none;
	}

}


/*----------------------- RWD 900px --------------------------------*/
@media screen and (max-width: 900px){

	.mainCourse div{
		flex-direction: column;
	}

	.mainCourse img{
		margin: 0;
	}

	.mainCourse h1{
		margin-top: 10px;
	}

	.mainCourse p{
		margin: 10px 50px;
	}

}

/*----------------------- RWD 428px --------------------------------*/

@media screen and (max-width: 428px){

	.top{
		height: 50px;
	}

	.top-main{
		/*flex-direction: column;*/
		height: 50px;
		/*background-color: rgba(17, 17, 17, 0.5);*/

		align-items: center;
		justify-content: space-between;
	}

	.top-main img{
		width: 50px;
		margin-left: 20px;
	}

	.botton{
		margin-right: 0;
		top: 50px;
	}

	.botton li{
  		/*background-color: rgba(17, 17, 17, 0.5);*/
  		padding: 10px 0;
  	}

	.fas{
		width: 50px;
    	margin-right: 20px;
    }

	.showMenu{
    	margin: 0;
	}

	.mainCourse img{
		width: 200px;
	}

	.mainCourse h1{
		margin-top: 10px;
	}

	.mainCourse p{
		margin: 15px;
	}








